body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/cielo.jpeg'); /* Ruta relativa a la carpeta images */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para que la imagen de fondo no se desplace con el contenido */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
}

.logo img {
    max-width: 100px;
}

.language a, .session a {
    margin-left: 15px;
    text-decoration: none;
    color: #0078d4;
}

.main-content {
    padding: 20px;
    margin-top: 40px; /* Ajusta este valor según sea necesario */
}

.search-bar {
    margin-bottom: 20px;
    text-align: center; /* Alinear el contenido al centro */
}

.search-bar input {
    width: 50%; /* Reducir el ancho del input */
    max-width: 300px; /* Establecer un ancho máximo */
    padding: 8px; /* Reducir el padding para hacerla más compacta */
    font-size: 14px; /* Reducir el tamaño de la fuente si es necesario */
}

.news-table {
    width: 100%;
    border-collapse: collapse;
}

.news-item {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.news-item p {
    margin: 0;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #0078d4;
}

